*{
	background-image: url("../tutor/fourth.png");
 }


h1	{
	margin-right: 200px;
	margin-left: 200px;
 background-image: url("../tutor/sixth.jpg");
    color:yellow;
    height: 300px
	width:500px
	margin:auto center;
	font-style: italic ;
	font-size: 100px;
	position: relative;
	animation:heading;
	animation-duration: 3s;
	animation-fill-mode: forwards;
}

@keyframes heading {
	0%{top:-50px}
  100%{top:65px;}
}
.fix
{
	margin:center;
}
 a:hover
 {
 	color :red;
 }
 a:active
 {
 	color: yellow;
 }

  
.box
  {
	background: yellow;
	width:50px;
	height:50px;
	position:relative;
	animation-name: myanimation;
	animation-duration: 30s;
	animation-delay: ;
	animation-iteration-count: infinite;

}

@keyframes myanimation
{
	0%{background-color:yellow;   left:0px; top:0px;    border-radius: 0% 0% 0% 0%; }
	15%{background-color:green;   left:1460px; top:0px; border-radius: 50% 0% 0% 0%;  }
	25%{background-color:red;     left:0px; top:0px;    border-radius: 50% 50% 0% 0%; }
	35%{background-color:white;   left:1460px; top:0px; border-radius: 50% 50% 25% 0%;  }
	50%{background-color:pink;   left:0px; top:0px;    border-radius: 50% 50% 50% 15%;  }
	65%{background-color:blue;    left:1460px; top:0px; border-radius: 50% 50% 50% 25%; }
	75%{background-color:orange;  left:0px; top:0px;    border-radius: 50% 50% 50% 35%; }
	85%{background-color:purple;  left:1460px; top:0px; border-radius: 50% 50% 50% 35%; }
	100%{background-color:yellow; left:0px; top:0px;    border-radius: 50% 50% 50% 50%;  }

}





.box-2 
  {
	background: pink;
	color: red;
	margin-top: 10px;
	width:90px;
	height:20px;
	border-radius: 15% 15% 15% 15%;
	position: fixed;
	position:relative;
	animation-name: ;
	animation-duration: 30s;
	animation-delay: ;
	animation-iteration-count: infinite;

}


















.intro h2
{
	margin-top: 300px;
	margin:center; 
	color:orange;
	position: relative;
	animation:reading;
	animation-duration: 5s;
	animation-fill-mode: forwards;
}

@keyframes reading {
	0%{left:-2000px}
  100%{left:0px;}
}



